* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#logo,
header {    
    border: 1px solid black;
}

header {
    display: flex;
    flex: row wrap;
    padding: 20px;
}

#logo {
  height:  40px;
  margin-right: 40px;
}

#search-bar {
    height: 30px;
    width: 200px;
   margin-top: 40px;
}

.icon {
    display: block;
    margin-left: auto;
}

.icon-text {
    display: block;
}

.header-nav {
    display: inline;
}


