* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#logo a,
header {    
    border: 1px solid black;
}

header {
    padding: 20px;
}

#logo {
    display:flex;
    justify-content: center;
    align-items: center;
}

#logo a {
    padding: 8px;
    border: 2px solid black;
}

.searchbar-wrapper {
    display: flex;
    align-items: center;
    flex: 1 1 280px;
    
}
#search-bar {    
    border: 2px solid black; 
    height: 40px;
    width: 280px;
    font-size: 18px;
}

.icon {
    display: flex;
    flex-flow: ;
    
}

.icon-text {
    display: block;
}

.header-nav {
    display: inline;
}


