* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#logo,
header {    
    border: 1px solid black;
}

header {
    padding: 20px;
}

#logo {
  height:  40px;
  margin-right: 40px;
}

#search-bar {
    height: 30px;
    width: 200px;
   margin-top: 40px;
}

.icon {
    display: inline-block;
    
}

.icon-text {
    display: block;
}

.header-nav {
    display: inline-block;
}


