body {
  background: linear-gradient(lightgrey, rgba(120, 79, 38, 0.521));
 
}


#header-container,
main,
footer {
  display: grid;
  margin: 0 auto;
  border: 1px solid rgb(216, 212, 212);
  min-height: 100px;
}
:root {
  --text-color: antiquewhite;
  --background-color: #d2bda1;
  --my-font:helvetica, Bebas neue, aril;
  --border: 2px solid rgb(216, 212, 212);
}

* {
  box-sizing: border-box;
}

/******************header******************/
header {
  background-color: var(--background-color);
}

a {
  font-family: var(--my-font);
  color: var(--text-color);
}
.header-wrapper {
  display: grid;
  grid-template-columns: 170px repeat(4, 1fr);
  grid-template-rows: 1fr 20px;    
}

.header-wrapper li {
  list-style: none;
}

.header-wrapper li a {
 text-decoration: none;
}

#logo a,
header,
#logo a,
#search-bar,
.main-nav ul {    
  border: var(--border);
}

header {
  padding: 10px 20px 10px 20px;
 
}

#logo {
  display:flex;
  justify-content: start;
  align-items: center;
 
}

#logo a {
  padding: 8px;
  text-decoration: none;
}

.searchbar-wrapper {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  
  
}
#search-bar {    
  height: 50px;
  font-size: 18px;
  flex: 1 1 350px;
}

.icon-wrapper {
  grid-column: 5/6;
  display: flex;
  align-items: center;
  margin-left: auto;  
  
}
.icon-wrapper a {
  text-decoration: none;
}

.icon-text {
font-size: 25px;
padding-right: 10px;
}

.nav-wrapper {
  grid-row: 2/3;
  grid-column: 1/4;
}

.main-nav ul {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-around; */
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.main-nav ul li {
 display: inline-block;
}

.main-nav ul li a {
  font-size: 25px;
  padding-top: 5px;
  padding: 0 44px;
}

.main-nav ul li a:hover {
  background-color: lightgrey;
}


main {
  min-height: 500px;
  justify-content: center;
  align-items: center;
}


/*******************************showcase********************/

.showcase{
  margin: 15px;
  width: 100%;
  height: 400px;
  font-family:var(--border);


  background: url('img/showc.jpg')
  no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: double whitesmoke;
}


.showcase h2, .showcase p{
  margin-bottom: 10px;
}

.butn{
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: white;
  font-size: 15px;
}

/***********************image grid************************/

.img-grid{
  border: 10px double  #582b0caf;
  margin: 150px;
  padding: 50px auto;
  background: whitesmoke;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bild-1, .bild-2, .bild-3, .bild-4, .bild-5, .bild-6 {
  border: 4px double #f8f9f9;
  margin: 25px;
  background:rgba(184, 179, 173, 0.385);
}

/*images*/
.kl1, .kl2, .kl3, .kl3, .kl4, .kl5, .kl6{ 
  max-width: 280px;
  cursor: pointer;
}


/*image-buttons*/
.btn-1, .btn-2, .btn-3, .btn-4, .btn-5, .btn-6{
  border: 2px solid rgba(184, 179, 173, 0.723);
  background: #582b0caf;
  text-align: justify;


  display: flex;
  flex-direction: row;
}

 .btn-1 , .btn-2, .btn-3, .btn-4, .btn-5, .btn-6{
  color: whitesmoke;
  text-decoration:underline;
  width: 100%;
  height: 23%;
  
}

i.fa-solid{
  float: right;
  margin: 30px;
}

i.fa-sharp{
  color: rgb(210, 175, 69);
  margin-right: 50px;
}

 h6{
  color: rgba(255, 255, 255, 0.61);
  font-size: small;
 }



  /**************************FOOTER***********************/

.footer a  {
  text-decoration: 3px dotted underline antiquewhite;
  color: #262626;
}

.footer {
  min-height: 250px;
  background-color: #d2bda1;
  font-size: 12px;
  font-family: helvetica, Bebas neue, arial;
}

.inner-footer{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;


  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5%;
  
}

.inner-footer li{
  color: antiquewhite;
  margin: 5px;
}

ul{
  list-style: none;
}
.inner-footer ul a{
  color: #262626c9;
  font-weight: bold;
  
}
.fa-brands{
  color: antiquewhite;
}

.copy{
  color: antiquewhite;
  font-style: oblique;
}

/****************media queries ipad****************************/
@media screen and (max-width:960px) {
  .icon-wrapper .fa-2x  {
    font-size: 1em;
   
  }

  #search-bar{
    width: 450px;
    
  }
  
    
  
  .showcase{
    margin: 60px;
    width: 90%;
    height: 400px;
  }

  .img-grid { 
    grid-template-columns: repeat(2, 2fr);
    width: 90%;
    margin: 60px;
  }
  .inner-footer {
    grid-template-columns: repeat(3, 1fr);
  }
}








/***********Media Querries Mobil*****************/
@media screen and (max-width:768px) {
  header{
    margin: 0px;
    width: 150%;
    height: 220px;
  }
  body{
    background: linear-gradient( rgb(82, 36, 20), antiquewhite);
  }

  .icon-text {
    font-size: 15px;
    padding: 15px;
  }

 .main-nav ul{
  margin:0px ;
  padding: 0px;
  flex-flow:column;
 }
 .main-nav ul li a {
  font-size: 15px;
  padding: 0 44px;
  border: 2px solid;
  border-style: groove;
 }

.main-nav ul li a:hover {
  background-color: lightgrey;
}

  .img-grid{
    grid-template-columns: repeat(1, 1fr);
    margin: 0px;
  }
  .bild-1, .bild-2, .bild-3, .bild-4, .bild-5, .bild-6{
    margin: 45px;
    padding: 5px;
  }
  
  .showcase{
    margin: 2px;
  }
 
  
  .inner-footer{
    margin: 0px;
    grid-template-columns: repeat(1, 1fr);
    
   
  }
}